/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
}

/* Estilos para el contenedor del componente */
.app-container {
  text-align: center; /* Centra el contenido horizontalmente */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de tareas */
h1 {
  color: #ff69b4; /* Rosa */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

strong {
  color: #333;
}

p {
  color: #666;
}

/* Estilos para los botones */
button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d83a87; /* Rosa más oscuro al pasar el ratón */
}

/* Estilos para los input */
input {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Estilos para la sección de agregar tarea */
.add-task-section {
  margin-top: 20px;
}
